<footer class="chapter-footer bg-color--{{ chapter.bgColor }} {{ chapter.status }}">
	<a href="{{ chapter.url }}">
		<div class="page-layout">
			<div class="container-fluid">
				<div class="row">
					<div class="chapter-footer__content">
						<div class="col-12">
							<p class="meta  text-color--white70 vertical-spacing--8--bottom">{{ chapter.id }}</p>
							<h2 class="chapter-footer__title">{{ chapter.name }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>
</footer>