<a href="{{ social.url }}" class="block-social" target="_blank">
	<div class="block-social__content">
		<img src="{% for config in configs %}{{ config.root }}{% endfor %}{{ social.logo }}" alt="{{ social.imgAlt }}" class="social-logo vertical-spacing--24--bottom">
		<p class="bold text-color--white70">{{ social.description }}</p>
	</div>
</a>